<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="nav">
            <div class="logo">
                <img src="static/image/nav_cat_logo.jpg" alt="">
            </div>
        </div>

        <section class="header">
            <div class="title">
                <h1>what a cat</h1>
                <button>Do you have a cat?<br> I'll guess your cat's bell!</button>
            </div>
        </section>

        <section class="intro">
            {% for cat in post_latest %}
                {% if forloop.first %}
                    <div class="card" >
                        <h2> {{cat.cat_name}} </h2>
                        <img src=" media/{{ cat.cat_image }}" alt="">
                    </div>
                {% else %}
                    <div class="card" >
                        <h2> {{cat.cat_name}} </h2>
                        <img src=" media/{{ cat.cat_image }}" alt="">
                    </div>
                {% endif %} 
            {% endfor %}
        </section>

        <section class="service">

        </section>
    </body>
</html>