<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="nav">
            <div class="logo">
                <img src="static/image/nav_cat_logo.jpg" alt="">
            </div>
        </div>

        <section class="header">
            <div class="title">
                <h1>what a cat</h1>
                <button>Do you have a cat?<br> I'll guess your cat's bell!</button>
            </div>
        </section>

        <section class="intro">
            <div class="card" >
                <div class="logo">
                    <img src="" alt="">
                </div>
                <h1>cat</h1>
            </div>
            <div class="card">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <h1>cat</h1>
            </div>
            <div class="card">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <h1>cat</h1>
            </div>
        
        </section>

        <section class="service">

        </section>
    </body>
</html>